.footer {
  max-width: 880px;
  margin: 60px auto;
  color: #545454;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 584px) {
  .footer {
    max-width: 100%;
    padding: 0 10px;
  }
}

@media screen and (min-width: 585px) and (max-width: 880px) {
  .footer {
    max-width: 100%;
    padding: 0 10px;
  }
}
