.header {
  max-width: 880px;
  margin: auto;
  border-bottom: 1px solid #545454;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.header__image {
  margin: 0;
  padding: 45px 0 41px;
  width: 100%;
  max-width: 130px;
}

@media screen and (min-width: 320px) and (max-width: 584px) {
  .header {
    padding: 0 10px;
  }

  .header__image {
    max-width: 130px;
  }
}

@media screen and (min-width: 585px) and (max-width: 880px) {
  .header {
    max-width: 100%;
    padding: 0 10px;
  }
}
