* {
  box-sizing: border-box;
}

html,
body {
  background-color: #000;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.page {
  max-width: 1280px;
  margin: auto;
  background-color: #000;
  color: #fff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  padding: 0;
}
